<section class="min-h-dvh bg-red-200 flex gap-2">
  <div class="w-1/2">
    <main class="flex bg-emerald-600 justify-center h-24 items-center w-full rounded-md ">
      <div>
        <input type="text" [(ngModel)]="initialValue" placeholder="Enter text here"
          class="border border-green-700 px-2 py-1 ">
      </div>
      <div class=" flex justify-center items-center border">
        <button (click)="addtoLocalStorage()" class="bg-yellow-600 px-2 py-1">Add to list</button>
      </div>
    </main>
    <div class="bg-yellow-100 h- rounded-md w-full ">
      <ul class="flex items-center gap-2  justify-center" *ngFor="let value of list;let i = index;">
        <li class="bg-emerald-500 mb-3 w-full text-center py-1 px-2 font-bold capitalize">
          {{value}}
        </li>
        <div>
          <button (click)="updatingValue(i)" class="bg-green-500 px-2 py-1 rounded-md">Update</button>
        </div>
        <div>
          <button (click)="deletingValue(i)" class="bg-red-500 px-2 py-1 rounded-md">Delete</button>
        </div>
      </ul>
    </div>
  </div>
  <div class="flex justify-center bg-red-300 w-1/2">
    <!-- update section -->
    <main>
      <h1 class="bg-orange-500 py-3 text-center font-bold capitalize">Update Here!</h1>
      <div class="flex bg-emerald-600 justify-center h-24 items-center w-full rounded-md ">
        <div>
          <input type="text" [(ngModel)]="updatedInputValue" [value]="" placeholder="Enter text here"
            class="border border-green-700 px-2 py-1 ">
        </div>
        <div class=" flex justify-center items-center border">
          <button (click)="updatedvaluetoLocalstorage()" class="bg-yellow-600 px-2 py-1">Add to list</button>
        </div>
      </div>
    </main>
  </div>
</section>